



.intraday-outer {
    display: flex;
    flex-wrap: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 22px;
    margin-top: 22px;
    align-items: center;    

    
}

.intraday-inner {
    
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: row;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(53,53,53);
}

.current-price {
    font-size: 22px;
    padding-left: 10px;
   
    padding-top: 5px;
    padding-bottom: 5px;
}

.currency {
    font-size: 14px;
    padding-right: 10px;
    margin-top: 6px;

}


.change-container{
    display: flex;
    flex-wrap: row;
    font-weight: bold;
    gap: 5px;
    
}


.amount-change-up, .percent-change-up {
    color: rgb(52,199,89);
}

.amount-change-down, .percent-change-down {
    color: rgb(254,59,48);
}


.percent-change-down, .amount-change-down,  .percent-change-up, .amount-change-up {
    background-color: rgb(53,53,53);
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;


}

.description-container {

    width: 100%;            
    margin-left: auto;      
    margin-right: auto;
    justify-content: center; 
    align-items: center;   
    margin-bottom: 30px;
    background-color: rgb(53,53,53);
    background-color: rgb(53,53,53);
    border-radius: 10px;
    box-sizing: border-box;  
    padding: 15px;
    font-size: 14px;
}

.data-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    margin-bottom: 30px;   
    margin-left: auto;
    margin-right: auto;  
    width: 100%; 
    gap: 30px;
    
}




.chart-container-outer {

    background-color: rgb(53,53,53);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    
}


 .chart-container {
    height: 300px;

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(73,73,73);
}

   
.time-button{
 
    background-color: rgb(53, 53, 53);  
    color: white;
    transition: background-color 0.2s;
    border: 2px solid; 
    border-top-color: rgb(73, 73, 73);    
    border-left-color: rgb(73, 73, 73);  
    border-bottom-color: rgb(36,36,36);
    border-right-color: rgb(36,36,36);
    font-size: 16px;
    padding: 5px;

}

.time-button:hover {
    background-color: grey;
}

.time-button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.time-button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



.infoList {
    grid-row-gap: 3px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(53,53,53);
    box-sizing: border-box;
    gap: 10px;
    font-size: 14px;
}
#StockInfo{
    width: 100%;
}


.bottom-navigation {
    min-height: 110px; 
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.btn-return {
    margin: 0; 
    text-decoration: none;
    padding: 15px;
    background-color:rgb(53,53,53); 
    color: white; 
    border-radius: 30px;
    border: 2px solid gray;
    border-top-color: rgba(73, 73, 73);    
    border-left-color: rgba(73, 73, 73);  
    border-bottom-color: rgb(36,36,36); 
    border-right-color: rgb(36,36,36);
    
    transition: background-color 0.3s; 
}

.btn-return:hover {
    background-color:grey;
}


@media screen and (min-width: 600px) {

    .description-container, .data-container, .intraday-outer {
        max-width: 90%
    }

    .chart-container {
        height: 500px;
    }

    .time-button{
        font-size: 18px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .current-price, .percent-change-down, .percent-change-up, .amount-change-down, .amount-change-up {
        font-size: 28px;
    }

    .currency {
        font-size: 18px;
        margin-top: 8px;
    }

    .currency {
        font-size: 16px;
    }
    .description-container {
        font-size: 16px;
    }
    .infoList {
        font-size: 16px;
        gap: 2px;
    }
 
}

@media screen and (min-width: 1200px) {

    .description-container, .data-container, .intraday-outer {
        max-width: 75%
    }
    #StockInfo{
        width: calc(50% - 15px);
    }
    .chart-container-outer {
        width: calc(50% - 15px);
    }
    .chart-container {
        height: 380px;
    }   
}




